/* PathDetector组件样式 */
.path-detector {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.path-detector main {
  flex-grow: 1;
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
}
